@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');

:root {
    --menu-height: 75px;
}

* {
    /* Os tamanhos passam a ser medidos da borda */
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    background-color: #212226;
}

body,
button,
input,
select,
textarea {
    font-family: 'Poppins', 'Times New Roman', Times, serif;
    color: #ffffff;
    font-weight: 200;
}

h1 {
    font-size: 44px;
    color: #15CDCB;
    font-weight: 400;
}

h2 {
    font-size: 24px;
}

button {
    background-color: #5280E2;
    border: 0;
    border-radius: 16px;
    padding: 12px 35px;
    margin-top: 40px;
}

header {
    height: calc(100vh - var(--menu-height));
    display: flex;
    align-items: center;

}

header .container {
    width: 50%;
    height: fit-content;
    padding: 0 100px;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 100px;
    height: var(--menu-height);
    position: sticky;
    top: 0;
    background-color: #212226;
}

nav span.logo {
    height: 45px;
    width: 150px;
    background-color: #15CDCB;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #212226;
    font-weight: 400;
}

nav ul a {
    font-size: 24px;
    color: #15CDCB;
    text-decoration: none;
    margin: 0 50px;
}

section {
    height: 100vh;
    display: flex;
    align-items: center;
    height: calc(100vh - var(--menu-height))
}

section .container {
    width: 50%;
    padding: 0 100px;
    height: fit-content;
}

section div.img-container{
    margin: 0 auto;
    padding: 24px 21px 23px 25px;
    border: #15CDCB 2px solid;
}